{
  "presets": ["es2015", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["./app/components"],
      "alias": {
        "AppStyles": "./app/styles/app.scss",
        "TodoAPI": "./app/api/TodoAPI.jsx"
      }
    }]
  ]
}