{
  "presets": ["es2015", "react"],
  "plugins": [
    ["module-resolver", {
      "root": ["../"],
      "alias": {
        "Main": "./app/components/Main.jsx",
        "AppStyles": "./app/styles/app.scss"
      }
    }]
  ]
}